.sort-visualizer {
    display: block; /* 例:ブロック要素として表示 */
}
.grid-item {
    padding: 10px;
    margin: 5px;
    color: white; /* 数字の色を白に設定 */
}
.sort-button, .shuffle-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button {
    background-color: #4CAF50; /* 色 */
}

.sort-button:hover {
    background-color: #45a049;
}

.shuffle-button {
    background-color: #008CBA; /* 色 */
}

.shuffle-button:hover {
    background-color: #007bb5;
}